<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WIMS - LTI</title>

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>
    </head>
    <body class="ml-5 mt-3">
        <div>
            <h2>LMS</h2>
            You can connect to any of the below WIMS server from the following LMS:
            {% if LMS %}
                <table class="table table-bordered table-hover table-sm w-75 mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for elem in LMS %}
                            <tr>
                                <td class="w-25">{{ elem.name }}</td>
                                <td>{{ elem.url }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <i>No LMS found</i>
            {% endif %}
        </div>

        <div class="mt-5">
            <h2>WIMS Server</h2>
            You can connect to any the following WIMS server from the LMS above using the given LTI
            url:
            {% if WIMS %}
                <table class="table table-bordered table-hover table-sm w-75 mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>URL</th>
                            <th>LTI URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for elem in WIMS %}
                            <tr>
                                <td class="w-25">{{ elem.name }}</td>
                                <td>{{ elem.url }}</td>
                                <td>{{ elem.lti_url }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <i>No LMS found</i>
            {% endif %}
        </div>
    </body>
</html>
