@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

[data-href], [data-toggle] {
    cursor: pointer;
}

tbody>tr.hide {
    display: none;
}

tbody>tr.show {
    display: table-row;
}